body {
    width: 1200px;
}
/********************* Resim *********************/
img {
    margin-left: 420px;
}


/********************* İlk Başlık *********************/
.firstDiv {
    margin: 2px;
    padding: auto;
    background-color: #EEEEEE;
    text-align: center;
    }

form {
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
    }
/********************* İlk Başlık bitdi *********************/
.clear {
    clear: both;
}
/********************* İlk sütun *********************/
.secondDiv {
    background-color: #7EE5DA;
    width: 37%;
    margin: 0;
    text-align: center;
    -ms-text-kashida-space: 0;
    padding: auto;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    height: 80px;
}
/********************* İlk sütun bitdi *********************/

/********************* Ikinci sütun *********************/
.thirdDiv {
    background-color: #70CCC2;
    width: 25%;
    margin-left: 2px;
    margin-right: 0;
    text-align: center;
    padding: auto;
    font-size: 8px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    height: 80px;
}
/********************* Ikinci sütun bitdi *********************/


/********************* Üçüncü sütun *********************/
.fourthDiv {
    background-color: #62B3AA;
    width: 37%;
    margin: 0;
    padding: auto;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    height: 80px;
}

input {
    font-size: 11px;
    
}

p.a {
    float: left;
}
/********************* Üçüncü sütun bitdi *********************/

/********************* Altdaki yazilar *********************/
.copyright {
    font-size: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}